{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}|Blog
{% endblock %}

{% block body %}
	<div class="row g-0 my-4">
		{% for post in posts %}
			<div class="col-12 col-md-4">
				<div class="card home-card m-1">
					<div class="card-body d-flex flex-column justify-content-between">
						<h5 class="card-title">{{post.title}}</h5>
						<div class="info-post">
							<span>{{post.category.name}}
							</span>
							<span>{{post.comments|length}}</span>
						</div>
						<a class="btn btn-primary" href="{{path('app_post',{slug:post.slug})}}">See more</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
